@import "~normalize.css";

@mixin double {
  @media (min-width: 1050px) and (min-height: 750px) {
    @content;
  }
}

@font-face {
  font-family: 'c';
  src: url('./assets/fonts/c.otf');
}

html {
  box-sizing: border-box;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  font-smooth: never;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-font-smoothing : none;
}

html,
body,
#app {
  height: 100%;
}

#app {
  align-items: center;
  background: url('./assets/bg.png');
  display: flex;
  cursor: default;
  font-family: 'c';
  font-size: 10px;
  justify-content: center;
  text-align: center;

  @include double {
    font-size: 20px;
  }

  &.playing {
    * {
      cursor: wait;
    }

    .btn {
      pointer-events: none;
    }
  }
}

.hypercard {
  background: white;
  border: .1em solid;
  box-shadow: #000 .1em .1em;
  height: 36.2em;
  min-width: 51.4em;
  width: 51.4em;

  .mobile & {
    @media (max-aspect-ratio: 1/1) {
      font-size: 2.6vw;
      transform: rotate(90deg);
    }

    @media (min-aspect-ratio: 1/1) {
      font-size: 2.45vh;
      margin-top: -4.5%;
    }
  }
}

.bar {
  background: url('./assets/bar.png') no-repeat 0/51.2em auto;
  border-bottom: .1em solid;
  line-height: 1.7em;

  span {
    opacity: 0;
  }
}

.main {
  background: url('./assets/main.png') 0/51.2em auto;
  height: calc(100% - 1.8em);
  position: relative;
}

.btn {
  cursor: pointer;
  position: absolute;

  span {
    opacity: 0;
  }

  &--home {
    bottom: 1em;
    left: 1.6em;
    width: 4.3em;
    height: 4.2em;

    &:active {
      background: url('./assets/main.png') -1.6em -29.0em/51.2em auto;
      filter: invert(1);
    }
  }

  &--about {
    bottom: .9em;
    left: 6.7em;
    width: 6.7em;
    height: 4.4em;

    &:active {
      background: url('./assets/main.png') -6.7em -28.9em/51.2em auto;
      filter: invert(1);
    }
  }

  &--cool {
    background: url('./assets/cool.png') 0 0/auto 100%;
    bottom: 1.3em;
    right: 3.7em;
    width: 6.2em;
    height: 1.9em;

    &:active {
      background-position-x: -100%;
    }
  }
}

.tracks {
  bottom: .9em;
  display: flex;
  flex-wrap: wrap;
  height: 27.5em;
  justify-content: space-between;
  align-content: space-between;
  position: absolute;
  right: .9em;
  width: 36em;

  .btn {
    background: white url('./assets/jh.png') 50% .3em/3.2em no-repeat;
    border: .1em solid;
    flex-grow: 0;
    position: relative;

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12),
    &:nth-child(17),
    &:nth-child(18),
    &:nth-child(19),
    &:nth-child(20) {
      background-position-y: .4em;
    }

    img {
      display: block;
      height: 5.1em;
      width: auto;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      img {
        height: 5em;
      }
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      img {
        height: 5.2em;
      }
    }

    &:nth-child(13),
    &:nth-child(14),
    &:nth-child(15),
    &:nth-child(16) {
      img {
        height: 4.9em;
      }
    }

    &::after {
      border: solid;
      border-width: 0 .1em .1em 0;
      bottom: -.2em;
      content: '';
      display: block;
      height: calc(100% + .1em);
      pointer-events: none;
      position: absolute;
      right: -.2em;
      width: calc(100% + .1em);
    }

    span {
      bottom: .3em;
      display: block;
      position: absolute;
      width: 100%;
    }

    &:active,
    &--active {
      border-color: #fff;
      filter: invert(1);
      box-shadow: #fff .1em .1em;
    }
  }
}

.info {
  background: url('./assets/info.png') 0 0/36.2em auto no-repeat;
  border: .1em solid;
  bottom: .8em;
  height: 27.9em;
  position: absolute;
  right: .5em;
  width: 36.4em;

  p {
    opacity: 0;
    position: absolute;
  }
}

footer {
  background: rgba(#eee, .9);
  bottom: 0;
  font-size: 12px;
  font-weight: normal;
  left: 0;
  line-height: 1.2em;
  padding: .8em;
  position: absolute;
  right: 0;

  a {
    color: inherit;
  }

  @media (min-width: 600px) {
    br {
      display: none;
    }
  }
}
